@model DogGo.Models.ViewModels.WalkerProfileViewModel


@{
    ViewData["Title"] = "Details";
}

<h1>Walker Profile</h1>

<div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="@Model.Walker.ImageUrl" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@Model.Walker.Name</h5>
            <p class="card-text">@Model.Walker.Neighborhood.Name</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Client</th>
                            <th scope="col">Duration</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Walks walk in Model.Walks)
                        {
                            <tr>
                            <td>@walk.Date</td>
                            <td>@walk.OwnerName</td>
                            <td>@walk.Duration</td>
                            </tr>
                        }
                    </tbody>
                    </table>
</div>
            <div class="col"> 
                <h3>Total Time</h3>
            </div>
        </div>
       
        </div>
    </div>
    <div>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Walker.Id }) |
        <a asp-action="Index">Back to List</a>
    </div>
