@model DogGo.Models.ViewModels.LocalWalkerListViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Walker
            </th>
            <th>
                Neighborhoods
            </th>
            <th>
                Images
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Walker) {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @foreach(Neighborhood neighborhood in Model.Neighborhoods)
                {
                    if(neighborhood.Id == item.NeighborhoodId)
                    {
                       <p>@neighborhood.Name</p>
                    }
                }
               @*@Model.Neighborhood.Name;*@
            </td>
            <td>
                <img src="@item.ImageUrl" alt="Walker avatar" />
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
