@model DogGo.Models.ViewModels.AppointmentViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>New Appointment</h1>

@if(!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="alert alert-danger">@Model.ErrorMessage</div>
}

<div class="text-black-50">
    <h4>Would you like to make an appointment with @Html.DisplayFor(model => model.Walker.Name)?</h4>
    </div>
@*<h4>Let's make an appointment with<span asp-validation-for="Walker"></span></h4>*@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          @*<input type="hidden" asp-for="Walk.WalkerId" class="form-control" value="@Model.Walker.Id" >*@
            <input type="hidden" asp-for="Walk.OwnerId" class="form-control" value="@Model.OwnerId">

            <label asp-for="Walk.Date" class="control-label"></label>
            <input type="datetime" asp-for="Walk.Date" class="form-control" />


            @*<div class="form-group">
            <label asp-for="" class="control-label"></label>
            <input asp-for="Owner.Address" class="form-control" />
            <span asp-validation-for="Owner.Address" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="Walk.DogId" class="control-label"></label>
                <select asp-for="Walk.DogId" class="form-control">
                    <option value="">Choose a dog</option>

                    @foreach (Dog dog in Model.Doggos)
                    {
                        <option value="@dog.Id">@dog.Name</option>
                    }

                </select>
                <span asp-validation-for="Walk.DogId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

